h1, h2, h3 {
  color: #fff;
}

h2, h3 {
  font-family: Josefin Sans;
  line-height: 30px;
}

h1 {
  background-color: black;
  text-align: center;
  letter-spacing: 20px;
  font-family: Nova Flat;
}

h2 {
  background-color: teal;
}

h3{
  background-color: blue;
  font-weight: 300;
}

a {
  font-size: 20px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #000;
  text-transform: capitalize;

}

p {
  word-spacing: 5px;
  font-style: oblique;
  font-variant: small-caps;
}

.obojeni-tekst {
  color: teal;
}

#reg_korisnika, #firstname, #lastname {
  color: blue;
}

#favorite, #dugme {
  color: #fff;
}

#favorite {
  background-color: blue;
}

#dugme {
  background-color: black;
}
