body {
  margin: 0;
}

h1 {
  text-align: center;
  color: #fff;
}

.pozadina {
    background-color: #000;
}

.main-box {
  position: relative;
}

.main-box .top-box {
  height: 75px;
  width: 100%;
  position: fixed;
  top: 0;
}

.main-box .left-box {
  height: 200px;
  width: 49%;
  margin: 0 1% 0 0;
  position: absolute;
  top: 200px;
}

.main-box .right-box {
  height: 200px;
  width: 49%;
  margin: 0 0 0 1%;
  position: absolute;
  top: 200px;
  right: 0;
}

.main-box .bottom-box {
  height: 75px;
  width: 100%;
  position: fixed;
  bottom: 0;
}
